<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #ffffff;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://c.mql5.com/31/563/fx-sensei-logo-200x200-7589.png" width="70" height="70" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="space">
  
        </div>
        
      </div>
    </div>
</nav>
  
<style>
.space {
    width: 1300px;
    height: auto;
    display: inline-block;
}
</style>